/*
本文件为index.html的css文件
*/

i {
    font-style: normal;
}

/* header通版 */
.header-page {
    width: 100%;
    height: 100px;
    background: #ffffff;
}

/* header部分开始 */

/* header版心 */
.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    /*background: red;*/
    display: flex;
}

/* logo */
.header .logo {
    width: 195px;
    height: 41px;
    /* Tips: flex布局不会触发外边距塌陷问题 */
    margin: 29px 102px 30px 0;
    /*background: green;*/
}

.logo img {
    width: 100%;
}

/* 导航栏 */
.navigation {
    width: 244px;
    height: 35px;
    margin: 35px 96px 31px 0;
    /*background: blueviolet;*/
}

.navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    /*
    这里给弹性条目设置了flex: 1
    均分弹性容器的宽度
    所以实际上这里设置单行弹性条目的主轴对齐方式 没啥意义
    */
    justify-content: center;
}

.navigation ul li {
    flex: 1;
    text-align: center;
    /*background: #4E6EF2;*/
}

.navigation ul li:hover {
    border-bottom: 2px solid #00a4ff;
}

.navigation ul li a {
    font-size: 19px;
    line-height: 35px;
}

/* 搜索框 */
.search {
    width: 412px;
    height: 40px;
    margin: 29px 32px 31px 0;
    /*background: #c9e143;*/
}

.search form {
    width: 100%;
}

.search input {
    width: 100%;
    height: 40px;
    /* TODO: 这里背景图比效果图的靠右了 应该是实现有问题 */
    background: #f3f5f7 url("../images/search.png") no-repeat right;
    border: 0;
    border-radius: 20px;
}

/* 个人信息 */
.avatar {
    width: 116px;
    height: 30px;
    margin: 33px 0 37px;
    /*background: darkturquoise;*/
    /* TODO: 为了让span在该div中垂直居中设置的 我猜他可能不是这么实现的 */
    display: flex;
    align-items: center;
}

.avatar img {
    width: 30px;
    margin-right: 7px;
}

.avatar span {
    line-height: 16px;
}
/* header部分结束 */

/* banner开始 */
/* banner通版 */
.banner-page {
    width: 100%;
    height: 420px;
    background: #0092cb;
    margin-bottom: 11px;
}

/* banner版心 */
.banner {
    width: 1200px;
    height: 420px;
    margin: 0 auto;
    background: url("../uploads/banner.png") no-repeat center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 课程列表 */
.course {
    width: 191px;
    height: 420px;
    background: rgba(0,0,0,0.42);
    padding-top: 3px;
}

/* 课程列表条目 */
.course a {
    display: block;
    /* 这里用a撑开li即可 */
    height: 46px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 46px;
    color: #ffffff;
    /* 这里是 */
    background: url("../images/right.png") no-repeat right 20px center;
}

.course a:hover {
    color: #00a4ff;
    background: rgba(0, 0, 0, 0.3) url("../images/right-hover.png") no-repeat right 20px center;
}

/* 课程表 */
.schedule {
    width: 218px;
    height: 305px;
    /*background: purple;*/
}

/* 课程表标题 */
.schedule-header {
    height: 49px;
    background:  #029dd5;
    padding: 18px 129px 12px 14px;
    /* 圆角只有左上和右上有 */
    border-radius: 10px 10px 0 0;
}

.schedule-header h4 {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}

/* 课程表内容 */
.schedule-body {
    height: 257px;
    background: #ffffff;
    border-radius: 10px;
}

/* 课程表内容列表 */
.schedule-body ul {
    width: 190px;
    height: 183px;
    margin: 0 14px;
}

.schedule-body li {
    height: 61px;
    border-bottom: 1px solid #e0e0e0;
}

.schedule-body li a {
    display: block;
    height: 100%;
    padding: 12px 14px 9px;
}

.schedule-body li a h5 {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 8px;
}

.schedule-body li a p {
    height: 17px;
    font-size: 12px;
    line-height: 16px;
    color: #7d7d7d;
}

.studying {
    color: #00a4ff;
}

/* 课程表全部列表按钮 */
.all-course {
    height: 73px;
    padding-top: 22px;
}

.all-course a {
    display: block;
    width: 190px;
    height: 32px;
    margin: 0 14px 22px;
    background: #00a4ff;
    border-radius: 15px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}
/* banner结束 */

/* recommend部分开始 */
.recommend {
    width: 1200px;
    height: 60px;
    margin: 0 auto 31px;
    /*background: pink;*/
    display: flex;
    /* 其实这里不设置也可以 因为弹性条目在主轴方向上占满弹性容器了 */
    justify-content: space-between;
    /* 侧轴方向的对齐方式不设置也没问题 因为所有弹性条目高度一样 且弹性容器设置了上下内边距 */
    /*align-items: center;*/
    padding: 18px 20px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
}

.recommend h4 {
    height: 25px;
    font-size: 18px;
    /* 行高没有占父元素100%的写法 只能写固定的值 */
    line-height: 25px;
    color: #00a4ff;
    /*background: red;*/
}

.recommend ul {
    flex: 1;
    height: 25px;
    display: flex;
}

.recommend ul li a {
    width: 100%;
    font-size: 14px;
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
}

.recommend ul li:last-child a {
    border-right: 0;
}

.modify {
    font-size: 16px;
    line-height: 25px;
    color: #00a4ff;
}
/* recommend部分结束 */

/* recommend-course部分开始 */
.recommend-course {
    width: 1200px;
    height: 601px;
    margin: 0 auto 32px;
    /*background: skyblue;*/
}

.recommend-course-header {
    height: 45px;
    /*background: green;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.recommend-course-header h3 {
    font-size: 21px;
    font-weight: 400;
}

.recommend-course-header a {
    font-size: 14px;
    color: #ababac;
}

.recommend-course-header a:hover {
    color: #00a4ff;
}

.recommend-course-body {
    height: 556px;
    /*background: yellow;*/
}

.recommend-course-body ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.recommend-course-body li {
    width: 228px;
    height: 271px;
    background: #ffffff;
    text-align: center;
    transition: 0.5s;
}

.recommend-course-body li:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.recommend-course-body li img {
    width: 100%;
    margin-bottom: 20px;
}

.recommend-course-body li h4 {
    font-size: 16px;
    font-weight: 400;
    /*color: #999999;*/
    margin-bottom: 16px;
}

.recommend-course-body li p {
    font-size: 14px;
    color: #7d7d7d;
}

.recommend-course-body li p span {
    color: #fa6400;
}

/* recommend-course部分结束 */