/*
本文件为index.html的css文件
*/

i {
    /* 设置i不倾斜 */
    font-style: normal;
}

/* 通用的版心类 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* header开始 */
/* 块级元素默认继承父元素的宽 */
.header {
    height: 100px;
    background: #ffffff;
    /*background: pink;*/
}

/* logo开始 */
.logo {
    width: 195px;
    height: 41px;
    /*background: purple;*/
}

.header .wrapper {
    padding-top: 29px;
    display: flex;
}

.logo a {
    display: block;
    /*这里必须手动指定高度 因为后边要设置字号为0以取消a中文字的可见性*/
    height: 41px;
    background: url("../images/logo.png");
    font-size: 0;
    /*color: transparent;*/
    /*text-indent: -9999px;*/
}
/* logo结束 */

/* nav开始 */
.nav {
    margin-left: 100px;
}

.nav ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav li {
    margin-right: 20px;
}

.nav li a {
    padding: 8px;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}
/* nav结束 */

/* search开始 */
.search {
    width: 412px;
    height: 40px;
    background: #f3f5f7;
    border-radius: 20px;
}

.search input {
    width: 412px;
    height: 40px;
    border: 0;
    background: transparent;
    padding: 10px 30px 10px 19px;
    outline: none;
}
/* search结束 */

/* user开始 */
.user {
    margin-left: 32px;
}

.user img {
    vertical-align: middle;
    margin-right: 10px;
}

.user span {
    font-size: 16px;
    color: #666666;
}
/* user结束 */

/* header结束 */

/* banner开始 */
.banner {
    width: 100%;
    height: 420px;
    background: #0092cb;
}

.banner .wrapper {
    height: 420px;
    background: url("../uploads/banner.png") no-repeat center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .left {
    width: 191px;
    height: 420px;
    background: rgba(0, 0, 0, 0.42);
    padding-top: 3px;
}

.banner .left li a {
    display: flex;
    justify-content: space-between;
    /* flex布局下不区分块级/行内元素,都可以设置宽高 */
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px;
}

.banner .left li a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #00a4ff;
}

.banner .right {
    width: 218px;
    height: 305px;
    background: #2099d5;
    border-radius: 15px;
    padding-top: 18px;
}

.banner .right h3 {
    height: 30px;
    padding-left: 14px;
    color: #ffffff;
    font-size: 15px;
}

.banner .content {
    height: 257px;
    background: #ffffff;
    border-radius: 10px;
    padding:14px;
}

.banner .content dl {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.banner .content dt {
    font-size: 14px;
    font-weight: 700;
}

.banner .content dd {
    font-size: 12px;
    margin: 8px 0;
    color: #7d7d7d;
}

.banner .content dd span {
    color: #00a4ff;
}

.content a {
    display: block;
    height: 32px;
    background: #00a4ff;
    color: #ffffff;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    transition: 0.5s;
}

.content a:hover {
    background: #0092cb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
/* banner结束 */

/* recommend开始 */
.recommend {
    height: 60px;
    background: #ffffff;
    margin-top: 12px;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
    line-height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.recommend h3 {
    font-size: 18px;
    font-weight: 400;
    color: #00a4ff;
}

.recommend ul {
    display: flex;
    flex: 1;
}

.recommend ul li a {
    border-right: 1px solid #e0e0e0;
    padding: 0 24px;
}

.recommend ul li:last-child a {
    border-right: 0;
}

.recommend ul li a:hover {
    color: #00a4ff;
}

.recommend .modify {
    color: #00a4ff;
    font-size: 16px;
}
/* recommend结束 */

/* course模块开始 */
/* 这个头部样式是通用的 */
.hd {
    height: 30px;
    /*background: pink;*/
    margin: 30px 0 15px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

/* 因为后边的hd中 ul里还有a 为避免样式冲突 所以单独给这个a加个类名 */
.hd .all {
    font-size: 16px;
    color: #999999;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    width: 228px;
    height: 271px;
    /*background: pink;*/
    margin-bottom: 14px;
    transition: 0.5s;
}

.bd li:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.bd li a {
    display: block;
    height: 100%;
}

.bd a h4 {
    height: 55px;
    margin: 20px 20px 0;
    font-size: 14px;
    font-weight: 400;
}

.bd a p {
    margin-left: 20px;
}

.bd a p span {
    color: #fa6400;
}
/* course模块结束 */

/* frontend模块开始 */
.hd ul {
    display: flex;
    margin-top: 3px;
}

.hd ul li a {
    font-size: 16px;
    margin: 0 30px;
}

.hd .hot {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    height: 386px;
    /*background: pink;*/
}

.bd .right {
    width: 957px;
    height: 386px;
    /*background: skyblue;*/
}

.bd .right .top {
    height: 100px;
    margin-bottom: 15px;
}
/* frontend模块结束 */

/* ai模块开始 */
.ai-line {
    width: 1200px;
}
/* ai模块结束 */

/* 底部盒子开始 */
.footer {
    height: 273px;
    background: #ffffff;
    /* 这里不是设计稿上的值 是因为上边的盒子还有15px的下外边距 */
    margin-top: 45px;
    padding-top: 60px;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left .f-logo {
    display: block;
    width: 195px;
    height: 41px;
    background: url("../images/logo.png");
}

.footer .left p {
    width: 432px;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    margin: 24px 0 14px;
}

.footer .left .app {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    transition: 0.5s;
}

.footer .left .app:hover {
    background: #00a4ff;
    color: #ffffff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    font-size: 16px;
    height: 35px;
}

.footer .right dd {
    font-size: 14px;
    height: 24px;
}

.footer .right dd a {
    color: #666666;
}

.footer .right dd a:hover {
    color: #00a4ff;
}
/* 底部盒子结束 */