/* 本文件用于存放公共样式 */
/* 版心 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/* 定义颜色变量 */
:root {
    /* 字体颜色 */
    --ga: #a1a1a1;
    /* 网站主色调 */
    --main-color: #00be9a;
}

/* nav部分开始 */
.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 184px;
}

/* nav头部开始 */
.nav-header {
    height: 52px;
    background: #333333;
}

.nav-header .wrapper {
    display: flex;
    justify-content: flex-end;
}

.nav-header .wrapper ul {
    display: flex;
}

.nav-header li {
    line-height: 52px;
}

.nav-header li a {
    color: #ffffff;
    padding: 0 15px;
    border-right: 1px solid #999999;
    transition: all 0.5s;
    font-size: 14px;
}

.nav-header li a i {
    font-size: 16px;
    vertical-align: middle;
}

.nav-header li a:hover {
    color: var(--main-color);
}

.nav-header li:last-child a {
    padding: 0 0 0 15px;
    border-right: none;
}
/* nav头部开始 */

/* nav底部开始 */
.nav-bottom {
    height: 132px;
    background: #ffffff;
}

.nav-bottom .wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom h1 {
    width: 200px;
    height: 88px;
}

.nav-bottom h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999em;
    overflow: hidden;
}

.nav-bottom ul {
    display: flex;
}

.nav-bottom ul li {
    line-height: 132px;
    padding: 0 24px;
}

.nav-bottom li a {
    padding: 10px 0;
    font-size: 16px;
    transition: all 0.5s;
}

.nav-bottom li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.nav-bottom .search {
    position: relative;
    width: 220px;
    height: 42px;
    /*background: pink;*/
}

.search a {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search .icon-search {
    font-size: 20px;
    line-height: 25px;
    color: #cccccc;
}

.nav-bottom .search input {
    width: 170px;
    height: 100%;
    border-bottom: 2px solid #f4f4f4;
    outline: none;
    padding: 10px 0 10px 28px;
    font-size: 16px;
    transition: all 0.5s;
}

.nav-bottom .search input:focus {
    width: 220px;
}

.nav-bottom .search input::placeholder {
    color: #cccccc;
}

.cart {
    position: relative;
}

.cart .icon-cart-full {
    font-size: 36px;
}

.cart .counter {
    position: absolute;
    top: 0;
    left: 22px;
    background: #e26237;
    color: #fefefe;
    padding: 0 8px;
    border-radius: 11px;
}
/* nav底部开始 */
.footer {
    height: 582px;
    background: #f5f5f5;
}

.footer .top {
    height: 178px;
    padding-top: 60px;
    border-bottom: 1px solid #e8e8e8;
}

.top ul {
    display: flex;
}

.top ul li {
    display: flex;
    margin-left: 90px;
    line-height: 58px;
}

.top ul li div {
    width: 58px;
    height: 58px;
    margin-right: 20px;
    background: url("../images/sprite.png") no-repeat;
}

.top .price {
    background-position: 0 0;
}

.top .truck {
    background-position: 0 -58px;
}

.top .quality {
    background-position: 0 -116px;
}

.top .after-sale {
    background-position: 0 -174px;
}

.top ul li span {
    font-size: 28px;
}

.footer .middle {
    display: flex;
    padding-top: 60px;
    margin-bottom: 101px;
}

.footer .middle dl {
    margin-right: 84px;
}

.footer .middle dt {
    height: 55px;
    font-size: 18px;
}

.footer .middle dd {
    height: 33px;
}

.footer .middle dd a {
    font-size: 16px;
    color: #969696;
    transition: 0.5s;
}

.footer .middle dd a:hover {
    color: var(--main-color);
}

.footer .middle a .icon-customer-service {
    color: var(--main-color);
}

.footer .middle .qr-code {
    width: 120px;
    height: 120px;
    margin-right: 55px;
    text-align: center;
}

/* 这里如果2个盒子都给了右外边距 就会挤到dl 让最后一个dl换行 */
.footer .middle .qr-code:last-child {
    margin-right: 0;
}

.footer .middle .qr-code img {
    width: 100%;
    margin-bottom: 10px;
}

.footer .middle .qr-code span {
    font-size: 16px;
    color: #969696;
}

.footer .bottom {
    display: flex;
    /* 修改主轴方向为从上到下 */
    flex-direction: column;
    /* 所以 此时控制水平方向的属性,是侧轴,而非主轴 */
    /*justify-content: center;*/
    align-items: center;
}

.footer .bottom ul {
    display: flex;
    margin-bottom: 15px;
}

.footer .bottom a {
    padding: 0 10px;
    font-size: 16px;
    color: #a1a1a1;
    border-right: 1px solid #a1a1a1;
    transition: 0.5s;
}

.footer .bottom a:hover {
    color: var(--main-color);
}

.footer .bottom li:last-child a {
    border-right: none;
}

.footer .bottom span {
    font-size: 16px;
    color: #a1a1a1;
}
/* nav部分结束 */