/* banner部分开始 */
.banner {
    height: 500px;
    background: #f5f5f5;
}

.slideshow {
    /* 定位不能直接加在banner上 否则banner会脱标 */
    position: relative;
    overflow: hidden;
}

.slideshow:hover .prev, .slideshow:hover .next {
    opacity: 1;
    visibility: visible;
}

/* 轮播图列表开始 */
.slideshow .img-list {
    display: flex;
    width: 300%;
}
/* 轮播图列表结束 */

/* 分页小圆点列表开始 */
.slideshow .pagination {
    position: absolute;
    top: 461px;
    left: 1123px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* 示例中的ul不给宽高,是靠li的外边距撑开的 这里我给了ul宽高,用主侧轴对齐的方式调整li的位置 */
    width: 100px;
    height: 24px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.pagination li {
    /* 这里边框是外扩的 所以li要使用非内减模式 */
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.pagination .active {
    background: rgba(255, 255, 255, 0.8);
    border: 4px solid rgba(255, 255, 255, 0.5);
}
/* 分页小圆点列表结束 */

/* 左侧上一页按钮开始 */
.prev, .next {
    /* 默认隐藏 隐藏效果如果使用display属性 则无法过渡 故使用opacity和visibility控制 */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    transition: all 2s;
}

.prev {
    left: 250px;
    border-radius: 0 20px 20px 0;
}
/* 左侧上一页按钮结束 */

/* 右侧下一页按钮开始 */
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

.prev .icon-arrow-left-bold, .next .icon-arrow-right-bold {
    font-size: 25px;
}
/* 右侧下一页按钮结束 */

/* 左侧列表开始 */
.slideshow .category {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background: rgba(0, 0, 0, 0.42);
}

.category li {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 29px;
    transition: all 0.5s;
    /*background: skyblue;*/
}

.category li:hover {
    background: var(--main-color);
}

.category li::after {
    content: "\e687";
    position: absolute;
    top: 0;
    right: 29px;
    font-family: iconfont, serif;
    color: #ffffff;
}

.category li a {
    font-size: 14px;
    color: #ffffff;
}

.category li a:first-child {
    font-size: 16px;
    margin-right: 5px;
}
/* 左侧列表结束 */
/* banner部分结束 */

/* fresh部分开始 */
/* 为代码复用 样式直接写在header和body上*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 0;
    height: 122px;
    /*background: lightslategray;*/
}

.header .left {
    display: flex;
    align-items: baseline;
}

.header .left h3 {
    margin-right: 35px;
    font-size: 30px;
    font-weight: 400;
}

.header .left span {
    font-size: 16px;
    color: var(--ga);
}

.header .check-all {
    font-size: 16px;
    color: var(--ga);
    transition: all 0.5s;
}

.header .check-all:hover {
    color: var(--main-color);
}

.body ul {
    display: flex;
    justify-content: space-between;
}

.body ul li {
    width: 304px;
    height: 404px;
    transition: all 0.5s;
    background: #EEF9F4;
    text-align: center;
}

.body ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.body ul li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.body ul li .img-box {
    width: 304px;
    height: 304px;
}

.body ul li .img-box img {
    width: 100%;
    height: 100%;
}

.body ul li h4 {
    margin: 18px 15px 9px;
    font-size: 20px;
    font-weight: 400;
}

.body ul li p {
    font-size: 16px;
    color: #AA2113;
}

.body ul li p span {
    font-size: 22px;
}
/* fresh部分结束 */

/* recommend部分开始 */
/* 这里为了层叠到之前的样式 所以需要加选择器的权重 才写了这么多层 */
.recommend .body li {
    background: #ffffff;
}

.recommend .body li h4 {
    margin-bottom: 15px;
}

.recommend .body li p {
    font-size: 16px;
    color: var(--ga);
    margin-bottom: 17px;
}
/* recommend部分结束 */

/* hot部分开始 */
.hot {
    width: 100%;
    /* TODO: 通栏的高度是靠版心撑开的 最后去掉这个高度 */
    height: 500px;
    background: #F5F5F5;
}

.hot .wrapper .header {
    position: relative;
    /*
    这里不调整主轴对齐方式也正确
    因为只有1个弹性条目时,space-between和flex-start效果相同
    */
    justify-content: flex-start;
}

.hot .header .pagination-box {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.hot .header .pagination-box a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e2e2e2;
    transition: 0.5s;
}

.hot .header .pagination-box a:hover {
    background: var(--main-color);
}

.hot .header .pagination-box .iconfont {
    color: #ffffff;
}

.hot .body ul li {
    width: 244px;
    height: 306px;
}

.hot .body .img-box {
    width: 244px;
    height: 306px;
}
/* hot部分结束 */

/* natural部分开始 */
.natural .header {
    align-items: center;
}

.natural .header .right {
    display: flex;
}

.natural .header .right ul {
    display: flex;
    margin-right: 65px;
}

.natural .header .right li {
    margin: 0 10px;
}

.natural .header .right li a {
    padding: 1px 7px;
    font-size: 16px;
    transition: all 0.5s;
}

.natural .header .right li a:hover {
    background: var(--main-color);
    color: #ffffff;
}

.multi-body {
    display: flex;
    justify-content: space-between;
    height: 610px;
}

.multi-body .body-img-box {
    width: 248px;
    height: 610px;
}

.multi-body .body-img-box img {
    width: 100%;
    height: 100%;
}

.multi-body .multi-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    width: 968px;
}

.multi-body .multi-list li {
    position: relative;
    /* 这里要加隐藏 否则鼠标hover到隐藏盒子时就会触发动画 */
    overflow: hidden;
    width: 242px;
    height: 304px;
    padding: 10px 21px 0;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.multi-body .multi-list li .multi-img-box {
    width: 200px;
    height: 180px;
    margin-bottom: 10px;
}

.multi-list .multi-link {
    display: block;
    width: 100%;
    height: 100%;
}

.multi-body .multi-list li:hover {
    border: 2px solid var(--main-color);
}

.multi-body .multi-list li:hover .same {
    bottom: 0;
    opacity: 1;
}

.multi-list .intro {
    margin:0 auto 7px;
    /*width: 100%;*/
    height: 57px;
    text-align: left;
}

.multi-list .intro p {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.multi-list .price {
    font-size: 22px;
    text-align: left;
    font-weight: 400;
    color: #AF2F22;
}

.multi-list .same {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -84px;
    padding-top: 16px;
    width: 100%;
    height: 84px;
    background: var(--main-color);
    /*
    opacity 0.5s ease: 0.5s表示过渡持续时间 ease表示过渡速度,渐变在开始和结束时较慢,中间较快
    visibility 0s 0.5s: 0s表示过渡持续时间 0.5s表示延迟时间
    这里为了让visibility和opacity的过渡同步 所以延迟0.5s 等opacity过渡结束后设置可见性
    因为visibility没有过渡
    */
    transition: 0.5s;
}

.same .same-top {
    position: absolute;
    display: inline-block;
    /*
    被设置为绝对定位的元素,其子元素不能使用margin来定位
    因为margin是基于标准流进行位置计算的
    */
    left: 50%;
    transform: translateX(-50%);
    /* TODO: 这里下外边距无效 但是给下面的盒子设置上外边距就可以 不知道为什么 */
    /* Tips: 行内元素设置垂直方向外边距通常会被忽略 */
    /*margin-bottom: 5px;*/
    font-size: 18px;
    color: #ffffff;
}

.same .same-bottom {
    position: absolute;
    margin-top: 5px;
    padding-top: 5px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    color: #ffffff;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.same .same-bottom .icon-arrow-right-bold {
    font-size: 13px;
}
/* natural部分结束 */

/* topic部分开始 */
.topic .header {
    align-items: center;
}

.topic-body ul {
    display: flex;
    justify-content: space-between;
}

.topic-body li {
    width: 405px;
    height: 355px;
}

.topic-body .topic-img-box {
    position: relative;
    width: 100%;
    height: 288px;
}

.topic-img-box img {
    width: 100%;
    height: 100%;
}

.topic-img-box .bottom-content-box {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 15px 14px;
}

.bottom-content-box .bottom-left {
    color: #ffffff;
}

.bottom-left .bottom-left-top {
    font-size: 20px;
}

.bottom-left .bottom-left-bottom {
    font-size: 16px;
}

.bottom-content-box .bottom-right {
    width: 79px;
    height: 25px;
    background: #ffffff;
    text-align: center;
    font-size: 18px;
    color: #AA2113;;
    line-height: 25px;
}

.topic-body .collect-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 67px;
    line-height: 67px;
    padding: 0 15px;
}

.topic-body li {
    transition: all 0.5s;
}

.topic-body li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

.collect-box a {
    font-size: 14px;
    color: #666666;
    transition: all 0.5s;
}

.collect-box a:hover {
    color: var(--main-color);
}

.collect-box a .iconfont {
    font-size: 14px;
}

.collect-box .collect .icon-favorites-fill {
    color: #9d2e1f;
}
/* topic部分结束 */