<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-数值</title>
</head>
<body>
<div id="app"></div>

<template id="my-app">
    <h4>1. 仅遍历值</h4>
    <ul>
        <!--值: 从1开始计算 到<=counter为止 此处打印 1-10(包含10)-->
        <li v-for="count in counter">{{count}}</li>
    </ul>

    <h4>2. 遍历值和索引</h4>
    <ul>
        <!--索引: 从0开始计算 到<counter为止 此处索引值为0-9(包含9)-->
        <li v-for="(count, index) in counter">索引:{{index}} 值:{{count}}</li>
    </ul>
</template>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const args = {
        template: '#my-app',
        data() {
            return {
                counter: 10
            }
        },
    }

    const app = Vue.createApp(args)
    app.mount('#app')
</script>
</body>
</html>